.shopzy-logo{
    height: 40px;
    width: auto;
    
}
.cart-count-badge {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: rgb(185, 184, 184);
  color: rgb(0, 0, 0);
  font-size: 0.75rem;
  font-weight: bold;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
